ma-decrypt-file-system {
	container-type: inline-size;
	container-name: --ma-decrypt-file-system-container;
}
.main-controls {
	display: flex;
	flex-flow: column nowrap;
}
@container --ma-decrypt-file-system-container (min-width: 1024px) {
    .main-controls {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto;
    }
    .passphrase-input {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
    .buttons {
        grid-row: 1 / 3;
        grid-column: 2 / 3;
        align-self: center;
        justify-self: stretch;
    }
    .passphrase-hint-input {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
}
