<!doctype html>
<html>

<head>
	<title>Directory Picker Example</title>
	<link rel="stylesheet" href="../../css/system.css">
	</link>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>

<body>
	<h1>Directory Picker</h1>
    <wc-directory-picker handle-name="wc-directory-picker-example"></wc-directory-picker>
    <script src="./wc-directory-picker.js" type="module"></script>
    <script src="./wc-directory-picker-example.js" type="module"></script>
</body>