<!doctype html>
<html>

<head>
	<title>Rectangle Input Example</title>
	<link rel="stylesheet" href="../../css/system.css">
	</link>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>

<body>
	<h1>Rectangle Input</h1>
	<p>Must be placed in a display: relative container</p>
	<div class="value"></div>
	<div style="position: relative; height: 1000px; width: 1000px;">
    	<wc-rectangle-input left="250" top="250" bottom="500" right="500"></wc-rectangle-input>
	</div>
    <script src="./wc-rectangle-input.js" type="module"></script>
	<script src="./wc-rectangle-input-example.js" type="module"></script>
</body>