<!doctype html>
<html>

<head>
	<title>WGSL Convolution Canvas</title>
	<link rel="stylesheet" href="../../css/system.css">
	</link>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>

<body>
	<div class="card warn">You must use a same-domain image.</div>
	<h1>Convolution</h1>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Matrix</th>
				<th>JS</th>
				<th>WGSL</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Identity</td>
				<td>
					<table>
						<tr>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<td>0</td>
							<td>1</td>
							<td>0</td>
						</tr>
						<tr>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
					</table>
				</td>
				<td>
					<wc-js-convolution-canvas image="./bird.png" kernel="
						0, 0, 0,
						0, 1, 0,
						0, 0, 0
					" shape="3,3"></wc-js-convolution-canvas>
				</td>
				<td>
					<wc-wgsl-convolution-canvas image="./bird.png" kernel="
						0, 0, 0,
						0, 1, 0,
						0, 0, 0
					" shape="3,3"></wc-glsl-convolution-canvas>
				</td>
			</tr>
			<tr>
				<td>Box Blur</td>
				<td>
					<table>
						<tr>
							<td>1/9</td>
							<td>1/9</td>
							<td>1/9</td>
						</tr>
						<tr>
							<td>1/9</td>
							<td>1/9</td>
							<td>1/9</td>
						</tr>
						<tr>
							<td>1/9</td>
							<td>1/9</td>
							<td>1/9</td>
						</tr>
					</table>
				</td>
				<td>
					<wc-js-convolution-canvas image="./bird.png" kernel="
						0.1111, 0.1111, 0.1111,
						0.1111, 0.1111, 0.1111,
						0.1111, 0.1111, 0.1111
					" shape="3,3"></wc-js-convolution-canvas>
				</td>
				<td>
					<wc-wgsl-convolution-canvas image="./bird.png" kernel="
						0.1111, 0.1111, 0.1111,
						0.1111, 0.1111, 0.1111,
						0.1111, 0.1111, 0.1111
					" shape="3,3"></wc-glsl-convolution-canvas>
				</td>
			</tr>
			<tr>
				<td>Guassian Blur</td>
				<td>
					<table>
						<tr>
							<td>1/16</td>
							<td>1/8</td>
							<td>1/16</td>
						</tr>
						<tr>
							<td>1/8</td>
							<td>1/4</td>
							<td>1/8</td>
						</tr>
						<tr>
							<td>1/16</td>
							<td>1/8</td>
							<td>1/16</td>
						</tr>
					</table>
				</td>
				<td>
					<wc-js-convolution-canvas image="./bird.png" kernel="
						0.0625, 0.125, 0.0625,
						0.125, 0.25, 0.125,
						0.0625, 0.125, 0.0625
					" shape="3,3"></wc-js-convolution-canvas>
				</td>
				<td>
					<wc-wgsl-convolution-canvas image="./bird.png" kernel="
						0.0625, 0.125, 0.0625,
						0.125, 0.25, 0.125,
						0.0625, 0.125, 0.0625
					" shape="3,3"></wc-wgsl-convolution-canvas>
				</td>
			</tr>
		</tbody>
	</table>
	<script src="wc-wgsl-convolution-canvas.js" type="module"></script>
	<script src="wc-js-convolution-canvas.js" type="module"></script>
</body>

</html>